header {

    background-color: aquamarine;
    border-style: initial;
    border-color: black;
    border: 5px outset black;
   margin: 3px;
    width: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1% 0;

    h1 {
        font-size: 50pt;
        text-align: center;
       
        background-color:beige;
        border: 5px outset black;
        margin: 3px;
    }
    div{
        background-color: blue;
        border: 4px outset black;
        margin: 3px;

        p{
            background-color: chocolate;
            border: 3px outset black;
            margin: 3px;
        }
    }
 }

