main{
    width:90%; 
    background-color: brown;
    border: 5px outset black;
    margin: 3px;

    .wrapper{
        display: flex;
        background-color: aliceblue;
    }

    h1{
        background-color: chocolate;
            border: 3px outset black;
            margin: 3px;
    }
    h2{
        background-color: chocolate;
            border: 3px outset black;
            margin: 3px;
    }
    h3{
        background-color: chocolate;
            border: 3px outset black;
            margin: 3px;
    }
    h4{
        background-color: chocolate;
            border: 3px outset black;
            margin: 3px;
    }
    h4{
        background-color: chocolate;
            border: 3px outset black;
            margin: 3px;
    }
    h5{
        background-color: chocolate;
            border: 3px outset black;
            margin: 3px;
    }
    h6{
        background-color: chocolate;
            border: 3px outset black;
            margin: 3px;
    }
    article{
        
            background-color: rgb(132, 104, 158);
                border: 3px outset black;
                margin: 3px;
        
        h1{
            background-color: blueviolet;
                border: 3px outset black;
                margin: 3px;
        }
        h2{
            background-color: blueviolet;
                border: 3px outset black;
                margin: 3px;
        }
        h3{
            background-color: blueviolet;
                border: 3px outset black;
                margin: 3px;
        }
        div{
            
                background-color: blueviolet;
                    border: 3px outset black;
                    margin: 3px;

                    
                
            p{
                background-color: darkblue;
                    border: 3px outset black;
                    margin: 3px;
            }
            
        }

    }
    
}

   



